*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/packagesearch.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# local syslink to other workspace. i use this to make agent work better.
/MotionEmulatorSdk
/MotionEmulatorLegacy
/EmuXPws_plugin
/.agents
# API Key
/app/src/main/res/values/api_keys.xml

# Build
/*/build
/*/release/
/*/src/main/resources/META-INF/yukihookapi_init
/*/src/main/assets/xposed_init
